#photo {
    width: 250px;
    height: 250px;
}

img{
    width: 250px;    
    height: 250px;
    margin-right: 50px;
}

#info {
    width: 250px;
    height: 730px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color:#F08080;
    margin-left: 50px
}

#info > article {
    width: 250px;
    height: 175px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: inline-block;
    margin-bottom: 80px;

}

#compétences {
    display: inline;
}

#compétences > ul { 
    margin-left: 90px;
}
#parcours {
    position: absolute;
    left: 30%;
    
}
#reseaux > figure > img{
    width: 50px;
    height: 50px;
}



#liste1{
    float: left;
    
}

.part {
    width: 450px;
    height: 270px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
    margin-top: 0px;
}

.part > figure {
    float: left;
}

.part > figure > img {
    width: 50px;
    height: 50px;
}
.part > article > h5 {
    margin-left: 90px; 
}
.part > article > ul {
    margin: -10px 0px 0px 90px; 
}


.categorie{
    background-color:#F08080;
    height: 48px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
}

.page {
    width: 980px;
    height: 980px;
    background-color: #333333;
    margin-left: 50px;
    padding-top: 30px;
}

.pillr {
    height: 15px;
    width: 15px;
    background-color: #F08080;
    border-radius: 50%;
    display: inline-block;
}

.pillg {
    height: 15px;
    width: 15px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}

h1{
    font-size: 40px;
}
figure {
    margin-bottom: 50px;
    margin-left: 0px;
}